<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Inventory System</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <main>
            <div class="mainbody">
                <h1 id="sign-in" class="text-center">Sign In</h1>
                
                <form class="auth-form" method="post" action="/login">
                    <div class="form-group">
                        <input type="email"name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="button">Sign In</button>
                </form>

                <div class="auth-footer text-center">
                    <p id="space">Don't have an account?</p>
                    <a href="./register" class="link">Sign Up</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>